@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Newsreader", serif;
  --font-sans: "Manrope", sans-serif;
  
  --color-primary: #182442;
  --color-secondary: #864f4d;
  --color-surface: #fff8f7;
  --color-primary-container: #2e3a59;
  --color-secondary-fixed: #ffdad7;
}

body {
  background-color: var(--color-surface);
  color: var(--color-primary);
  font-family: var(--font-sans);
}

h1, h2, h3, h4, .serif {
  font-family: var(--font-serif);
}

.bg-surface {
  background-color: var(--color-surface);
}

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-primary-container {
  background-color: var(--color-primary-container);
}

.bg-secondary-fixed {
  background-color: var(--color-secondary-fixed);
}

.border-primary {
  border-color: var(--color-primary);
}

.border-secondary {
  border-color: var(--color-secondary);
}
